.dark-theme {
    section {
        p,small {
            color: $color-dark;
        }

        h1,h2,h3,h4,h5 {
            color: white;
        }

        a {
            color: white;

            &:hover {
                color: white;
            }
        }

        svg {
            color: white;
        }

        .Btn {
            color: white;
        }

    }
    footer {
        .footer__copyright {
            small {
                color: white !important;
            }
        }
    }
}